/* Media Query Laptop 1920px */

@media(max-width:2550px) and (min-width:2000px){

    .service-block{
        padding: 100px ;
    }
    .right-block {
        padding: 120px 43% 120px 25%;
    }
    .left-side1 img{
        width: 100%;
    }

}
@media(max-width: 1920px){  

    .get-quote{
        padding: 100px 0 15%;
    }
    .get-quote::after{
        top: -452px;
        left: 0%;
        width: 380px;
         }
    .get-quote::before{
        top: -404px;
        right: 0%;
        width: 401px;
        height: 100%;
    }
    .slide{
       padding: 470px 0 306px; 
    }
    .query{
        margin-top: -230px;
    }

    .dark-theme{
        padding: 11%;
        top: -406px;    
    }
    
    .testimonial{
        padding: 70px 0 70px;
    }
    .testimonial::before{
        height: 750px;
    }

   .max-width-2{
     max-width:75%;
  }
  .aboutus-block .right-side-img:before {
   left: -50px;
   top:-50px;  
}

.left-side1 img{
    width: auto;
}
}
@media(max-width:1680px){
    .dark-theme {
        padding: 13%;
        top: -406px;
    }
    .get-quote {
        padding: 100px 0 17%;
    }
    
    .shape {
        padding: 40px 85px 40px 28%;
         width:1100px ;
    }
}
/* Media Query Laptop 1440px */

@media(max-width:1500px){
    .container{
        max-width: 1140px;
    }

    /* Header css */
    /* .logo_list::before{
        top: -12px;
        height: 10px;
        left: 25%;
    } */
    .menu-bar .navbar-nav li{
        margin-right: 50px;
    }
    .menu-bar .navbar{
        padding-top: 7px;
        padding-bottom: 7px;
    }
   
    .menu-bar .navbar-nav a { padding: 15px 0 15px;}
    .contact-btn a{font-size: 18px; padding: 15px;}
    .navbar-brand{max-width: 125px;}
    .search-box{top:35px;}
    
    .menu-list ul li.dropdown:hover>ul{top: 65px;}

    .menu-bar .navbar-nav li.active a:after {width: 5px; height: 5px;}

    /* Index Banner */
    
    .search-input{padding: 15px 20px;}
    .submit-btn{padding: 15px 20px;}

    .slide{padding: 466px 0 300px;}
    .left-side h1{ line-height: 95px; font-size: 82px;margin-bottom: 30px;}
    .com-btn{margin: 50px 0 70px; font-size: 18px; min-width: 150px;}
    .com-btn::before{height: 7px;}     
    .left-side h3{   font-size: 50px;}
    .sm-txt {font-size: 35px;}
    .slick-dots li button:before {font-size: 120px;}
    .slick-dots li.slick-active button:before{ font-size: 120px;}
    .banner-slider .slick-dots li{margin: 5px 6px !important;}
    
    .mtb-6{margin: 35px 0;}
    
    h2{font-size: 50px;margin-bottom: 50px;line-height: 60px;}
    .services h2 {
        font-size: 38px;
        line-height: 48px;
    }
    .card-link{margin-right: 21px; min-width: 350px;}
    .sm-card{padding:25px 50px;}
    /* Category block */
    .cat-block .card{min-height: 315px;}
    .upper-box{min-height: 250px;padding: 35px;}
    .com-btn2{padding: 23px;}
    .cat-block .card{justify-content: stretch;}
    .upper-box img{max-width: 165px;}
    .sm-img{top: 410px;left: 225px;}
    .lg-img img{max-width: 90%;}
    .img-block::after{width: 430px;height: 460px;}
    
    .ptb-6{padding: 39px 0;}
    .content-block p, .content-block b{margin-bottom: 15px;}
    .mt-7{margin-top: 50px;}
    
    .contact-num{font-size: 32px;line-height: 39px;}

    .mtb-10{margin: 85px 0;}

    .service ul li p {margin-top: 15px; margin-bottom: 10px;}
    .bg-lite{padding: 55px 0;}   

    .head-content h3{font-size: 36px; line-height: 44px;max-width: 550px; margin-bottom: 10px;}
    .track{ padding: 50px 39px;}
    
    .logo-box{min-height: 96px;padding: 20px;}
    
    .blk-txt{margin: 30px 0; padding: 12px 20px;}

    .mtb-lg{margin: 40px 0 180px;}
    .rectangle-shape{width: 840px;height: 275px;}
    .testi-slider{min-height: 290px;}
    .testimonial-box{top: 0;}
    .tcontent {min-height: auto;}

    .testimonial-box .custom-next{top: 85%;transform: translate(0,-85%) rotateY(180deg);}
    .testimonial-box .custom{top: 85%; transform: translate(0,-85%);}
    .contact-detail li{margin-right: 15px;}
    h3{ font-size: 36px; line-height: 43px;}
    .ptb-md {padding: 36px 0;}
    
    .banner-content{padding: 44px 0;}
    .banner-content .com-btn{margin: 30px 0 0;}
    
    .product-box .com-btn2{font-size: 32px; line-height: 43px; padding: 10px;}
    .upper-img img { max-width: 85%;}
    .mtb-7{margin: 50px 0;}
    
    .ptb-sm{padding: 15px 0;}
    
    .yellow-rectangle{width: 600px;}

    .content-area h3{margin-bottom: 30px;}
    .content-area{padding-left: 44px;}
    .play-btn{max-width: 120px;}
    
    .shop, .deliver{min-height: 360px;padding: 25px 35px;}
    .ptb-3{padding: 60px 0 30px;}
    
    .contactus {margin: 35px 0 60px;}
    .video-col iframe,.yellow-rectangle { height: 470px;}
    
    
    .testimonial::before{
        max-width: 100%;
    }
    .banner-slider h1{
        font-size: 50px;
        line-height: 64px;
    }
    
    .garage-remodal{
        max-width: 1050px;
        margin: 30px auto 0;
        
    }
    
    .get-quote::before,.get-quote::after{
        width: 175px;
        height: 350px;
    }
    .get-quote::before{
        top: -177px;
    }
    .get-quote::after{top: -200px; height:200px;}
    .garage-remodal ul li{
        padding: 60px 50px;
        min-height: 412px;
    }
    .get-quote p{

        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .get-quote{
        padding: 100px 0 15%;
    }
    
    .query{
        padding: 60px 75px 50px;
        max-width: 1040px;
          margin-top: -12%;
    }
    
    .dark-theme{
        padding: 15%;
        top: -415px;
    }

    
    .testimonial::before {
       top: -100px;
       height: 680px;
    }
    
    .tcontent::before{
            bottom: 50px;
    }
    
    .img-comparison{
        margin-top: 60px;
        margin-bottom: 25px;
    }
    
    .testimonial{
        padding: 55px 0 55px;
    }
    .testimonial .slick-dots{top: 27%;}
    .logo {
        max-width: 250px;
    }
    
    .testimonial .mt-7{margin-top: 30px;}
    .query-form button{
        min-height: 60px;
        margin: 30px auto 0;
        max-width: 203px;
    }
    
    .content-block p{font-size: 16px;line-height: 1.5;}
    .mission-vision .content-block {
        padding: 15px 25px;
    }
    .mission-vision{
        padding: 75px 0;
    }
    .inner-banner{padding:39px 70px;}
    .inner-banner h2{font-size: 35px;}

    .inner-content h2{
       font-size: 36px; 
    }
    .aboutus-block.ptb-6{padding: 50px 0;}
    .team-member.ptb-6{padding: 50px 0 65px;}
    .aboutus-block .right-side-img:before {
        position: absolute;
        content: none;
        width: 300px;
        height: 430px;left: -35px;top:-35px;}

        .shape {
            padding: 30px 85px 30px 18%;
            width: 950px;
        }
        .team-member h2{margin-bottom: 50px;}

        .common-btn{margin-top: 50px;}

        .service-block{
              
            
            padding: 50px 21% 50px 25%;
        }
        .right-block{
    
            padding: 50px 25% 50px 21%;
        }
        .sm-tick-list{
            margin-top: 19px;
        }

     
        .service-block h2{
          
            font-size: 33px;
              margin-bottom: 25px;
       }
       
    
       .sm-tick-list li {
          
           font-size: 21px;
           line-height: 36px;
           padding-left: 25px;
      }
      .sm-tick-list li::before{
          width: 18px;
          height: 12px;
      }
}
/* Media Query Laptop 1366px */
@media(max-width:1400px){

    .container{
        max-width: 1120px;
    }

    .ptb-3{
      
       padding: 60px 0 35px;
    }
    
    /* Header */
   
    
    /* menu list */
    .menu-bar .navbar-nav li{
        margin-right: 36px;
    }
    
    
    .menu-bar .navbar-nav a{padding: 14px 0 14px;}
     /* contact btn */
    .contact-btn{
        min-width: 180px;
        
    }
    .contact-btn a{
        font-size: 16px;
    }
   
   

    .ptb-md{padding: 30px 0;}
    .search-input {   padding: 12px 20px; }
    .submit-btn {  padding: 12px 20px;}
    .inner-search-box .breadcrumb{padding: 0 0 10px;}

    /* Index banner */

    .slide{padding: 0;min-height: 600px;}
     
    .left-side h1 {line-height: 86px;font-size: 75px;margin-bottom: 25px;}
    .banner-slider h1{  font-size: 40px; line-height: 55px;}
    .com-btn{margin: 40px 0 60px; min-width: 140px;}
    .left-side h3 {   font-size: 43px;}
    .sm-txt{font-size: 30px;}
    .banner-slider .slick-dots li{margin: 2px 5px !important; width: 36px;}
    .slick-dots li.slick-active button:before{font-size: 100px;}
    .slick-dots li button:before{font-size: 100px;}
    
    h2{font-size: 43px; margin-bottom: 36px;line-height: 50px;}
    p.head-title {font-size: 16px; line-height: 21px;}
    .track {padding: 35px 39px;}
    .mtb-lg {margin: 30px 0 155px;}
         
    .rectangle-shape {width: 780px;height: 265px;}
    
    .testimonial-box {top: 0px;}
    .tcontent {min-height: 100%;}
    .testi-slider {min-height: 265px;}
  
    .services h2 {
        font-size: 36px;
    }
    
    
    .card-link{
        min-height: 320px;
        min-width: 346px;
        margin-right: 21px;
    }
    
    .sm-card{
        padding: 25px 42px;
    }
    
    .sm-card span{
        width: 50px;
        height: 50px;
    }
    .get-quote::after {
        top: -171px;
        width: 144px;
    }
    .get-quote::before {
        top: -151px;
        width: 150px;
    }
    .garage-remodal h3 {
        font-size: 30px;
        line-height: 30px;
    }
    
    .dark-theme {
        top: -314px;
        
        padding: 12%;
    }
    
    .get-quote {
        padding: 75px 0 300px;
    }

    .common-btn {
      min-width: 165px;
    }
    .query{
        margin-top: -235px;
        min-height: 505px;
    }
    .query-form button{
        max-width: 190px;
        margin-top: 30px;
    }

    .get-quote p{
       font-size: 21px;
        
       margin-bottom: 30px;
    }
    
    .tcontent strong{margin-top: 20px;}

    .img-comparison{margin-bottom: 0px;}
    
    
    .tcontent::before {
        bottom: 20px;
    }
  
    .testimonial::before {
        top: -100px;
        height: 600px;
    }
    
    
    .query-form input {
        min-height: 46px;
        margin-bottom: 20px;
    }

    
    .tcontent::after {
         left: 15px;
    }
    .testimonial .slick-dots{
        top: 25%;
    }
    .img-comparison{
        margin-bottom: 30px;
    }

    .footer_menu {
        padding-right: 75px;
    }
    .logo{max-width: 215px;}
    

    .black-box{
        padding: 50px 75px;
        top: 0;
    }


    .mission-vision .content-block{
        
        padding: 10px 25px;
    }

    .shape{
           padding: 25px 75px 25px 14%;
         width: 900px;
          left:0;
    }
    

    .service-block h2{
          
         font-size: 30px;
    }

    

    .service-block {
        padding: 50px 25% 50px 18%;
    }   
        

}

@media(max-width: 1280px){
    .dark-theme {
        top: -314px;
        padding: 13%;
    }
    
    .req-btn {
         margin-top:50px;
    }

}